:root{
  --primaryBlue: #1c4587;
  --secondaryBlue: #CFE2F3;
}

.column{
  column-count: 2;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.article{
  width: 90%;
  margin-left: 55%;
}

.aside{
  width: 45%;
  text-align: right;
  margin-left: 50%;
  
}

.banner{
  background-color: var(--primaryBlue);
  border: solid 2px black;
  padding-top: 1em;
  padding-bottom: .5em;
}

.littleBanner{
  background-color: var(--secondaryBlue);
  border: none;
  padding: .6em;
}

.absolute{
  position: absolute;
}

h1{
color: white;
}

footer{
  width: 88%;
  height: 10px;
  padding: 5em;
}

