:root{
  --primaryBlue: #1c4587;
  --secondaryBlue: #CFE2F3;
}

.column{
  column-count: 2;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.article{
  width: 60%;
  display: inline-block;
  top: -12em;
  position: relative;
}

.aside{
  width: 20%;
  text-align: right;
  display: inline-block;
  margin-left: 15%;
  }

  /* .articleParagraph{
    margin-left: 15%;
  } */

.mainView{
  margin-left: 30vw;
}


.banner{
  background-color: var(--primaryBlue);
  border: solid 2px black;
  padding-top: 1em;
  padding-bottom: .5em;
}

.littleBanner{
  background-color: var(--secondaryBlue);
  border: none;
  padding: .6em;
}


h1{
color: white;
}

footer{
  background-color: var(--primaryBlue);
  padding-top: 1em;
  padding-bottom: .5em;
  height: 100px;
  position: static;
}

